<?xml version="1.0" encoding="utf-8"?>
<CodeSnippets xmlns="http://schemas.microsoft.com/VisualStudio/2005/CodeSnippet">
    <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Fact</Title>
            <Author>
                WG
            </Author>
            <Description>
                Simple Fact test attribute
            </Description>
            <HelpUrl>https://xunit.net/docs/getting-started/netfx/visual-studio</HelpUrl>
            <Shortcut>xf</Shortcut>
        </Header>
        <Snippet>
            <Declarations>
                <Literal Editable="true">
                    <ID>UnitOfWork</ID>
                    <ToolTip>UnitOfWork</ToolTip>
                    <Default>UnitOfWork</Default>
                </Literal>
                <Literal Editable="true">
                    <ID>StateUnderTest</ID>
                    <ToolTip>StateUnderTest</ToolTip>
                    <Default>StateUnderTest</Default>
                </Literal>
                <Literal Editable="true">
                    <ID>ExpectedBehavior</ID>
                    <ToolTip>ExpectedBehavior</ToolTip>
                    <Default>ExpectedBehavior</Default>
                </Literal>
            </Declarations>
            <Code Language="csharp" Delimiter="$">
                <![CDATA[
                [Fact]
                public void $UnitOfWork$_$StateUnderTest$_$ExpectedBehavior$()
                {
                    //Arrange

                    //Act

                    //Assert
                }]]>
            </Code>
        </Snippet>
    </CodeSnippet>
</CodeSnippets>